@model IEnumerable<Category>

<div>
    <ul class="list-group my-4">
        @foreach (var category in Model)
        {
            <li class="list-group-item">
                <a asp-action="Index" asp-route-categorId="@category.Id">
                    @category.CategoryName
                </a>
            </li>
        }
    </ul>
</div>