@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
<li class="nav-item">
    <a class="nav-link active text-black" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin</a>
</li>
}
@if (User.Identity.IsAuthenticated)
{
<li class="nav-item">
    <a class="nav-link active text-black" asp-area="" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Context.Request.PathAndQuery()">Logout</a>
</li>
}
else
{
    <li class="nav-item">
        <a class="nav-link active text-black" asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.PathAndQuery()">Login</a>
    </li>
}

