@page "/getintouch"

<div class="text-center border my-5 rounded">
    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa fa-phone text-primary my-3"></i>
        <p>
            0 (535) 545 45 35
        </p>

        <i class="fa-solid fa-address-book text-primary my-3"></i>
        <p>
            Store E-trade Solution No:11 Street:396
            Post Code:45300 Salihli/Manisa
           
        </p>

        <i class="fa-solid fa-envelope text-primary my-3"></i>
        <p>
            info@store.com
        </p>
    </div>
</div>