@page "/getintouch"

<div class="text-center my-5">
    <div class="display-6 border-bottom">Contact</div>
    <div class="lead mt-5">
        <i class="fa fa-phone bg-secondary text-white p-3 rounded-5 my-3"></i>
        <p>
            0 (535) 545 45 35
        </p>

        <i class="fa-solid fa-address-book bg-secondary text-white p-3 rounded-5 my-3"></i>
        <p>
            Store E-trade Solution No:11 Street:396
            Post Code:45300 Salihli/Manisa
           
        </p>

        <i class="fa-solid fa-envelope bg-secondary text-white p-3 rounded-5 my-3"></i>
        <p>
            info@store.com
        </p>
    </div>
</div>